/* FORMATAÇÃO */

*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 1em;
	font-family: Helvetica, sans-serif, Trebuchet MS;
	background: #e6e6e6;
}

/* LAYOUT */

#area-cabecalho{
	background-color: #f7b600;
	padding: 15px;
	text-align: center;
}

#area-logo, #area-menu{
	padding: 10px;
}


#area-principal{
	width: 920px;
	margin: 0 auto;
}

#area-postagem{
	width: 660px;
	float: left;
}

.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

 #area-lateral{
	width: 240px;
	float: right;
 }

 .conteudo-lateral{
 	background: white;
 	padding: 10px;
 	margin-bottom: 10px;
}

 #rodape{
 	clear: both;
 	text-align: center;
 	padding: 15px;
 	color: grey;
 }

/* FORMATAÇÕES MENU */

a{
	text-decoration: none;
}

a:link, a:visited{
	color: #f7b600;
}
a:hover{
text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited{
	color: white;
	padding: 8px 12px;
}

#area-cabecalho a:hover{
	color: #f7b600;
	background: white;
	text-decoration: none;
}

/* FORMATAÇÕES GERAIS */

h1{
	color: #4e4e4e;
	font-size: 2.5em;
}

h2{
	color: #f7b600;
}

h3{
	background: #f7b600;
	padding: 5px;
}

.data{
	display: block;
	font-size: 0.8em;
	color: black;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.branco /* para alterar a cor do texto no tecblog*/ {
	color: white;
}

.postagem-lateral{
	font-size: 1em;
	padding: 5px;
}